<div class="form-container">
  <%= form_with(model: @scouting_report, local: true) do |form| %>
    <%= render "scouting_reports/shared/form_errors", scouting_report: @scouting_report %>
    <%= render "scouting_reports/form_partials/pitcher_or_position_form", form: form, scouting_report: @scouting_report %>
  <% end %>
</div>
