/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  background-color: #f5f2f0 !important;
}

a {
  text-decoration: none;
}

nav {
  .navbar-nav {
    align-items: baseline;
  }
}

form {
  textarea {
    height: 150px;
  }

  .form-dropdown {
    display: flex;
  }

  div.form-row {
    margin-bottom: 3%;
  }
}

select {
  cursor: pointer;
  padding: 3px;
  height: 30px;
}

label {
  padding-right: 10px;
}

table#reports-table {
  tr > td {
    vertical-align: middle;
  }

  tr:hover {
    cursor: pointer;
  }

  th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .asc {
    background-image: url("up_arrow.gif");
  }

  th .desc {
    background-image: url("down_arrow.gif");
  }
}

div.form-container {
  width: 100%;
  margin-top: 5%;
}

div.flex-container {
  margin: 2% 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.pitch-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div.card {
  background-color: #f5f2f0;
  width: 33%;

  div.card-body {
    padding: 0.5rem;
  }
  input {
    font-size: 14px;
    border: 1px solid #cfd8dc;
    border-radius: 3px;
    width: 90px;
    cursor: pointer;
  }
}

.toggle-group-selected {
  background-color: #b3e5fc !important;
}

div.page-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0 12px 0;
  border-bottom: 1px solid gray;
}

div.page-block {
  position: relative;
  background-color: white;
  border-radius: 3px;
  padding: 0.625rem;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-image: initial;
}

div.show-report {
  margin-top: 20px;
}

.border-left {
  border-left: 1px solid gray;
}

ul.pagination {
  margin-top: 5px;
  line-height: 12px !important;
}

form.new_user {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border-radius: 3px;

  div.field {
    margin: 20px 0;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    max-width: 100%;
    height: 1em;
    border: 2px solid #e9e9e9;
    padding: 1em;
  }
}

@media only screen and (max-width: 1000px) {
  .form-group {
    margin: 5px 0;
    padding: 5px 0;
  }
  div.flex-container {
    display: inline-block;
  }

  div.card {
    width: 100%;
  }

  div.form-row {
    margin: 0;
  }

  div.page-header {
    display: inline-block;
  }

  div.border-left {
    border-left: none;
  }
}
